@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
body{
    background-color: #24252A;
    position: relative;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button{
    border: transparent;
    background: transparent;
    font-family: inherit;
    font-size: 20px;
}

li, a, .cta {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #ecf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    width:100px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    border-radius: 50px;
    display: inline-block;
    padding: 0 20px;
    transition: all 0.3s ease 0s;
}

.current-nav{
    background-color: rgb(63, 66, 73);
}

.nav_links li:hover {
    background-color: rgb(63, 66, 73);
}

.cta {
    padding: 7px 20px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta:hover{
    background-color: rgba(0, 136, 169, 0.8);
}
